.fondoNoticia{
    background-color: black;
    height: 665px;
    position: fixed;
    width: 100%;
}

.fondoNoticia img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.contenedorNoticia{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    margin-top: 80px;
    margin-left: 300px;
    width: 820px;
    height: 80%;
    padding: 10px;
}

.contenedorNoticia h1{
    text-align: center;
}

.columnaIzquierda{
    position: absolute;
}

.columnaDerecha #map{
        height: 300px;
        width: 300px;
 }

.columnaDerecha{
    float: right;
    
}
